[Unit]
Description=Caddy server for Nilpferd
PartOf=nilpferd.target
StopWhenUnneeded=true
After=network.target
Requires=network.target

StartLimitBurst=4
StartLimitIntervalSec=120
StartLimitAction=reboot

[Service]
Type=simple
User=malyvsen

Restart=always
RestartSec=1

WorkingDirectory=/srv/nilpferd
ExecStart=caddy run
