[Unit]
Description=Filebrowser server for Nilpferd.
After=network.target
Requires=network.target
StopWhenUnneeded=true

StartLimitBurst=4
StartLimitIntervalSec=120
StartLimitAction=reboot

[Service]
Type=simple
User=malyvsen

Restart=always
RestartSec=1

WorkingDirectory=/srv/nilpferd
ExecStart=filebrowser
